@use 'sass:color';
$color_1: #ee4746;
$color_2: #FFF;
$font-family_1: 'Josefin Sans', sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #ee4746;

/*mixins*/
@mixin dash-bar {
  content: '';
  background-color: $background-color_2;
  width: 100px;
  height: 1px;
  margin: auto;
  display: block;
}

* {
  color: $color_1;
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
}

header {
  .navbar-brand {
    img {
      width: 100px;
    }
  }

  .nav-link {
    color: $color_1;

    &:after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      border: 0;
      background: #ee4746;
      margin: 0px auto;
      transition: all 1s;
    }

    &:hover {
      &:after {
        width: 80%;
      }
    }
  }

  .dropdown-item {
    color: $color_1;
  }

  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: $color_1;
        text-transform: uppercase;

        &:focus {
          color: $color_1;
          text-transform: uppercase;
        }

        &:hover {
          color: $color_1;
          text-transform: uppercase;
        }
      }

      .active {
        >.nav-link {
          color: $color_1;
          text-transform: uppercase;
        }
      }

      .nav-link.active {
        color: $color_1;
        text-transform: uppercase;
      }

      .nav-link.show {
        color: $color_1;
        text-transform: uppercase;
      }

      .show {
        >.nav-link {
          color: $color_1;
          text-transform: uppercase;
        }
      }
    }
  }
}

footer {
  h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 1px;
      background: #ee4746;
      margin: 20px auto;
    }
  }

  >div {
    padding: 50px 0;

    &:first-child {
      background-color: $background-color_1;
      padding-bottom: 40px;
      text-align: center;
    }

    &:last-child {
      background-color: $background-color_2;
      padding-bottom: 40px;

      * {
        color: $color_2;
      }

      div.col-md-6 {
        margin-top: 20px;
      }

      ul {
        margin: 20px 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
          font-size: 0.8em;
        }
      }
    }
  }

}


/* Exo a partir d'ici*/

/* HERO */
p {
  margin: 0;
}

#hero {
  background-image: url(../img/header.jpg);
  padding: 100px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;

  h1 {
    margin-bottom: 0;
  }
}

/*section 1 starter */

#starter {
  .promotion {
    text-align: center;
    background-color: $background-color_1;
    margin: auto;
    padding: 10px;
  }

  .prix-pokemon {
    background-color: $background-color_1;
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: 3;


    p:nth-of-type(2) {
      font-size: 0.6em;
    }

    .img-cart {
      position: absolute;
      bottom: -36px;
    }
  }

  .bg-pokemon {
    background-color: $background-color_1;
    text-align: center;
    padding: 0;
    position: relative;

    &:hover .prix-pokemon {
      opacity: 1;
    }

    &:hover .layout::before {

      opacity: 0.8;

    }

    .layout {
      position: relative;
    }

    &:hover .titre-cart {
      background-color: $background-color_2;
      color: white;
      z-index: 2;
    }

    .layout::before {

      background-color: $background-color_2;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: '';
      opacity: 0;
      z-index: 1;

    }
  }

  p {
    font-size: 0.9em;
    text-transform: uppercase;
  }
}

/*section 2 actualite */

.container-perso {
  max-width: 1205px;
}

#actualite {
  h2 {
    font-size: 1.6em;
    font-weight: 300;

    &::after {
      @include dash-bar()
    }
  }

  .row>div {
    position: relative;
    display: flex;
  }

  .titre-article {
    background-color: $background-color_1;
    bottom: -45px;
    position: absolute;
    width: 235px;
    font-size: 0.9em;

    p:nth-of-type(2) {
      text-align: start;
    }

  }

  .magicarpe {
    bottom: 10px;

    .titre-article {
      bottom: -66px;
    }
  }
}

/*section 3 pokeball */

#pokeball {
  h2 {
    font-size: 1.6em;
    font-weight: 300;

    &::after {
      @include dash-bar();
    }
  }

  .prix-ball {
    font-size: 0.5em;
    text-align: start;
  }
}





@media (min-width: 768px) {
  footer {
    >div {
      &:last-child {
        div.col-md-6 {
          margin-top: 0px;
          padding-left: 100px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  footer {
    >div {
      &:last-child {
        ul {
          margin: 0;
        }
      }
    }
  }

  #decouvrez {
    .col {
      text-align: left;
    }
  }
}


@media (min-width: 420px) {
  #actualite {
    .row>div {
      position: static;
      display: flex;
      flex-direction: column;


      .titre-article {
        position: static;
        width: auto;
        font-size: 1.1em;

        p:nth-of-type(2) {
          text-align: center;
        }

      }
    }
  }

  #pokeball {
    .prix-ball {
      text-align: center;
      font-size: 0.9em;
      padding-bottom: 15px;
    }
  }

}